.image {
      position: relative;
      width: 100%;
      height: 500px;
      margin-bottom: 30px;
      
}

.banner {
      width: 100%;
      height: 100px;
      background-color: burlywood;
      float: left;
      position: relative;
}

.container {
      background-color: beige;
}