.image {
      width: 100%;
      height: 500px;
      margin-bottom: 30px;
      
}

#projects {
      display: flex;
      
}

.banner {
      width: 100%;
      height: 100px;
      background-color: burlywood;
      float: right;
}

.banner-text {
      font: 50px;
}

.container {
      background-color: beige;
}